.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom:17vh;
    position: relative;
    background-color:#131314;
    color: #e3e3e3;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 15px;
}

.main .nav img{
    width: 43px;
    border-radius: 50%;
    cursor: pointer;
}

.main-container{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    margin: 3vh 0;
    font-size: 56px;
    color: #4b4a4a7a;
    font-weight: 500;
    padding: 0 20px;
}

.main .greet span{
    background:-webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card{
    height: 200px;
    padding: 15px;
    background-color: #1e1f20;
    border-radius: 10px;
    position: relative;
    cursor:pointer;
}

.main .card:hover{
    background-color: #2a2b2f;
}

.main .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    background-color:#1e1e1e;
}

.main .card p{
    color: #615d5d;
}

.main-bottom{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #1e1f20;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box:hover{
    background-color: #2a2b2f;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding:8px;
    color: #e3e3e3;
    font-size: 18px;
}

.search-box .search-box-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box .search-box-icons img{
    width: 35px;
    padding: 5px;
    border-radius: 20px;
    background-color:#1e1e1e;
}

.main-bottom .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
}

.result{
    padding: 1% 3%;
    max-height: 65vh;
    overflow-y:scroll; 
    margin-bottom: 5px;
}

.result::-webkit-scrollbar{
    display: none;
}

.result-title{
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* .result-title p{
    background-color: #202124;
    border-radius: 4px;
    padding: 5px 2px;
} */

.result img{
    width: 40px;
    border-radius: 50%;
}

.result-data{
    display: flex;
    align-items: start;
    gap: 20px;
    background-color: #202124;
    border-radius: 8px;
    padding: 10px 5px 5px 0px; 
}

.loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #e3e3e3;
    background:linear-gradient(to right, #14075a, #3a0444, #4c7a02);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader{
    0%{
        background-position: -800px 0px;
    }
    100%{
        background-position: 800px 0px;
    }
}

.result-data p{
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
    padding-bottom: 50px;
}

@media (max-width: 600px){
    .main-bottom input{
        flex: none;
        width: 150px;
    }

    .main-bottom img{
        width: 20px;
    }

    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }

}