.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#1e1f20;
    color: white;
    padding:30px  20px ;
}

.sidebar img{
    width: 20px;
}


.sidebar .top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
}

.sidebar .menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.sidebar .menu-icon img{
    cursor: pointer;
}



.sidebar .new-chat{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: #191a1a;
    color: #7a7a7a;
    cursor: pointer;
}

.sidebar .top .recent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    animation:fadeIn 1.5s;
}

.sidebar .top .recent .recent-entry{
    display: flex;
    gap: 20px;
    border-radius: 50px;
    padding: 8px 10px;
    background-color: #191a1a;
    cursor: pointer;
}

.sidebar .top .recent-entry:hover{
    background-color: #2a2b2f;
}

.bottom{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom .bottom-item{
    display: flex;
    justify-content: flex-start;
    gap: 6%;
    border-radius: 50px;
    padding: 10px 5px;
    cursor: pointer;
}

.bottom .bottom-item:hover{
    background-color:#2a2b2f;
}

@media (max-width: 600px){
    .sidebar{
        display: none;
    }
}